.GatorSpawn {
  position: absolute;
}

.map-background-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.popup-container {
  position: absolute;
  top: 500px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 10; 
  text-align: center;
}

.popup-box {
  width: 900px;
  height: 200px;
  position: relative;
  z-index: 10;
}

.popup-text {
  position: absolute;
  top: 40px; 
  left: 8px;
  z-index: 11;
  color: black;
  font-size: 20px;
  margin-left: 5px;
}

.excl-mark {
  position: absolute;
  top: -10px; 
  right: 5px;
  cursor: pointer;
  z-index: 12;
  width: 50px;

}
