body,
html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* Prevents scrolling */
}

.background-container {
    background-image: url('/images/courtroom 2.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-Repeat: "no-repeat";
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.large-font {
    font-size: 48px;
    font-weight: bold;
    margin-top: -100px;
    margin-left: 90px;
}

.text-box {
    position: absolute;
    width: 350px;
    height: 10px;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.button {
    background: lightgray;
    color: black;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
    font-size: 20px;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -50px;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0);
    }
}

.gator-jump {
    animation: float 2s ease-in-out infinite;
}