.h1 {
    font-size: 36px;
    margin: 32px;
    padding: 0;
}

.h2 {
    font-size: 14px;
    margin: 32px;
    padding: 0;
}

.inline {
    display: inline-block;
    vertical-align: middle;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
}

.image-with-margins {
    position: relative;
    margin: -150px 25px 200px 50px;
}

.button {
    background: lightgray;
    color: black;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
    font-size: 20px;
}

.transparent-box {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}