
.large-container-1 {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.large-container-2 {
    display: flex;
    flex-direction: column;
}

.top-half {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.character {
    flex: 1;
    margin-right: 2.5rem;
}

.options {
    flex: 1;
}

.animate-options {
    position: relative;
    animation: animate-options-float-in;
}

.skinny-speech-bubble{
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(1.25);
}

.options-text {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: black;
    font-size: 2rem;
    margin-top: 5rem;
}

.bottom-half {
    flex: 1;
    position: relative;
}

.text-box {
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(1.25) scaleY(0.8);
    animation: animate-textbox-float-right;
}

.text-box-text {
    position: absolute;
    top: 10;
    left: 0;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 2rem;
    animation: animate-float-right;
}
